.area {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Cardo, sans-serif;
  color: #1B3764;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1B3764;
  color: #fff;
}

.container {
  display: flex;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.burger {
  display: none;
}

a:hover {
  transform: scale(1.1);
  transition: all .7s;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  width: 222px;
  height: 66px;
  flex-shrink: 0;
  border: 2px solid #FFCA42;
  color: #1B3764;
  align-items: center;
  justify-content: center;
  background: #FFCA42;
}

.btn:hover {
  transform: scale(1.1);
  transition: all .7s;
}

.line {
  width: 50px;
  height: 3px;
  background: #FFCA42;
}

.head {
  max-width: 370px;
  font-size: 42px;
  line-height: 120%;
}

section.author-books {
  padding: 126px 0 150px;
}

section.about {
  padding: 180px 0 140px;
  background: #F5F8FC;
}

section.trusted {
  padding: 126px;
}

section.order {
  padding: 70px;
  background-color: #1B3764;
}

section.learn {
  padding: 140px 20px;
}

section.free-trial {
  padding: 120px 0;
  background-color: #F4F8FF;
}

section.rating {
  padding: 126px 0 150px;
}

section.subscribe {
  padding: 120px 0;
}

footer.footer {
  padding-top: 92px;
  background-color: #1B3764;
}

/*---------------------------------Header-top-------------------------------------------------*/
.header-top__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 69px;
  width: 100%;
  padding: 20px 0;
}

.header-top__logo {
  margin-right: 35px;
  margin-left: 10px;
}

.header-top__socials {
  display: flex;
  gap: 10px;
}

.header-top__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 550px;
  gap: 10px;
}

.header-top__link {
  display: flex;
  width: 45px;
  height: 45px;
  padding: auto;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.header-top__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
  gap: 47px;
  margin-right: 10px;
}

/*---------------------------------Header-body-------------------------------------------------*/
.header-body__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 21px;
  margin: 100px 0;
  width: 100%;
}

.header-body__content {
  margin: 147px 0;
}

.header-body__content-headings {
  gap: 10px;
  margin-bottom: 24px;
}

.header-body__small-heading {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-body__heading-line {
  height: 2px;
}

.header-body__heading-text {
  max-width: 217px;
  font-size: 21px;
  line-height: 171.429%;
  letter-spacing: 1.2px;
}

.header-body__big-heading {
  max-width: 512px;
  font-size: 64px;
  line-height: 123.81%;
  letter-spacing: 1.3px;
}

.header-body__content-text {
  max-width: 562px;
  color: #B4C7E7;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 158.333%;
  font-style: normal;
  margin-bottom: 42px;
}

.header-body__content-buttons {
  display: flex;
  gap: 51px;
  margin-bottom: 50px;
}

.header-body__btn-demo {
  align-self: center;
  margin-top: 15px;
  max-width: 152px;
  font-size: 19px;
  line-height: 160%;
  letter-spacing: 0.38px;
  position: relative;
}

.header-body__btn-demo::before {
  content: "";
  display: flex;
  position: relative;
  height: 1px;
  width: 152px;
  background-color: #fff;
  top: 30px;
}

.header-body__content-info {
  display: flex;
  gap: 60px;
  margin-left: 30px;
}

.header-body__info-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 60px;
  position: relative;
}

.header-body__info-item:last-child {
  margin-right: 0;
}

.header-body__info-item::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFCA42;
  position: relative;
  top: 35px;
  left: -30px;
}

.header-body__item-head {
  max-width: 73px;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.48px;
}

.header-body__item-value {
  max-width: 156px;
  color: #B4C7E7;
  font-size: 17px;
  line-height: 158.824%;
}

.header-body__img {
  max-width: 592px;
  max-height: 800px;
  box-shadow: -1px 2px 11px 0px rgba(0, 0, 0, 0.20);
}

.header-body__img img {
  width: 100%;
  height: 100%;
}

/*---------------------------------Autor-books-------------------------------------------------*/
.author-books-inner {
  width: 100%;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.author-books__head {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
}

.author-books__books {
  display: flex;
  gap: 48px;
  margin: 0 auto;
}

.author-books__book-card {
  display: flex;
  gap: 30px;
}

.author-books__book-img {
  max-width: 285px;
  max-height: 382px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.20);
  margin-left: 10px;
}

.author-books__book-img img {
  width: 100%;
  height: 100%;
}

.author-books__book-info {
  margin-top: 38px;
}

.author-books__info-name {
  max-width: 236px;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.32px;
}

.author-books__info-name:hover {
  transform: scale(1.1);
  transition: all .7s;
}

.author-books__info-price {
  max-width: 129px;
  color: #FFCA42;
  font-size: 21px;
  line-height: 157.143%;
  margin-bottom: 17px;
}

.author-books__info-text {
  max-width: 287px;
  color: #969AA0;
  font-family: sans-serif;
  font-size: 19px;
  line-height: 150%;
  margin: 0 10px 13px 0;
}

.author-books__info-type {
  display: flex;
  max-width: 176px;
  font-size: 24px;
  line-height: 120%;
  margin: 0 0 27px 15px;
}

li.author-books__info-type::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFCA42;
  position: relative;
  top: 7px;
  left: -7px;
}

.author-books__info-btn {
  background-color: #fff;
}

/*---------------------------------About-------------------------------------------------*/
.about__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

.about__image-deco {
  position: relative;
  max-width: 525px;
  max-height: 640px;
  width: 100%;
  height: 100%;
  border: 10px solid #FFCA42;
  margin-left: 30px;
}

.about__image-box {
  max-width: 525px;
  max-height: 620px;
  position: absolute;
  top: -50px;
  left: -50px;
}

.about__image-box img {
  width: 100%;
  height: 100%;
}

.about__content-head {
  margin-top: 16px;
}

.about__content-line {
  margin-top: 23px;
}

.about__content-text {
  margin: 33px 10px 0 0;
  max-width: 559px;
  color: #969AA0;
  font-family: sans-serif;
  font-size: 19px;
  line-height: 180%;
}

.about__content-values {
  display: flex;
  gap: 30px;
  margin-bottom: 54px;
}

.about__value-number {
  max-width: 56px;
  color: #1B3764;
  font-size: 54px;
  line-height: 142.593%;
}

.about__value-text {
  max-width: 156px;
  color: #969AA0;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 127.059%;
}

.about__value-line {
  width: 1px;
  height: 98px;
}

.about__content-contact {
  max-width: 484px;
  max-height: 180px;
  background: #1B3764;
  display: flex;
  padding: 20px 15px;
  gap: 40px;
}

.about__contact-img {
  max-width: 130px;
  max-height: 130px;
}

.about__contact-img img {
  width: 100%;
  height: 100%;
}

.about__contact-info {
  max-width: 300px;
  color: #B4C7E7;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 158.333%;
  letter-spacing: 0.19px;
}

.about__info-name {
  margin-top: 18px;
  margin-bottom: 10px;
  max-width: 216px;
  color: #FFCA42;
  font-size: 20px;
  line-height: 120%;
}

/*---------------------------------Trusted-------------------------------------------------*/
.trusted__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trusted__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.trusted__head-text {
  max-width: 383px;
}

.trusted__corpas {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.trusted__corpa {
  text-align: center;
}

.trusted__corpa-name {
  margin: 22px 0 16px;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.trusted__corpa-text {
  max-width: 280px;
  color: #969AA0;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 150%;
}

/*---------------------------------Order-------------------------------------------------*/
.order__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.order__content {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 70px;
}

.order__content-head {
  max-width: 480px;
}

.order__content-text {
  max-width: 539px;
  color: #B4C7E7;
  font-size: 19px;
  line-height: 150%;
}

.order__content-btn {
  background-color: transparent;
  color: #fff;
}

.order__image-box {
  max-width: 560px;
  max-height: 394px;
}

.order__image-box img {
  width: 100%;
  height: 100%;
}

/*---------------------------------Learn-------------------------------------------------*/
.learn__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.learn__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.learn__head-text {
  max-width: 436px;
}

.learn__content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.learn__value {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 30px;
}

.learn__value-item {
  z-index: -2;
  width: 303px;
  background: #F4F8FF;
  padding: 30px;
  margin-bottom: 0px;
}

.learn__item-number {
  font-size: 23px;
  line-height: 125.217%;
  position: relative;
  margin: 10px 0 30px 10px;
  position: relative;
}

.learn__item-number::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFCA42;
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
}

.learn__item-text {
  max-width: 229px;
  font-size: 24px;
  line-height: 140%;
}

.learn__image-deco {
  position: relative;
  width: 555px;
  height: 652px;
  border: 10px solid #FFCA42;
}

.learn__image-box {
  max-width: 535px;
  max-height: 632px;
  position: absolute;
  top: -40px;
  left: -40px;
}

.learn__image-box img {
  width: 100%;
  height: 100%;
}

/*---------------------------------Free-trial-------------------------------------------------*/
.free-trial__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  margin-bottom: 60px;
}

.free-trial__head-text {
  max-width: 580px;
}

.free-trial__content {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
}

.free-trial__content-chapters {
  display: grid;
  gap: 30px;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.free-trial__content-chapter {
  max-width: 635px;
  max-height: 242px;
  background: #FFF;
  padding: 42px;
}

.free-trial__chapter-head {
  max-width: 337px;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 10px;
}

.free-trial__chapter-text {
  max-width: 509px;
  color: #969AA0;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 170%;
  margin: 12px 0;
}

.free-trial__chapter-values {
  display: flex;
  gap: 45px;
  font-size: 22px;
  line-height: 140%;
  width: 466px;
}

.free-trial__chapter-values p {
  color: #969AA0;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 158.824%;
  margin: 5px 0 0 12px;
}

.free-trial__chapter-pages {
  display: flex;
}

.free-trial__chapter-length {
  display: flex;
}

.free-trial__content-btn {
  margin-top: 34px;
}

.free-trial__content-questions {
  color: #969AA0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 158.333%;
  text-align: center;
  max-width: 300px;
}

.free-trial__content-questions a {
  color: #1B3764;
}

.free-trial__content-questions:hover {
  transform: scale(1.1);
  transition: all .7s;
}

/*---------------------------------Rating-------------------------------------------------*/
.rating__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.rating__content {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-top: 95px;
}

.rating__content-head {
  max-width: 329px;
  margin-bottom: 10px;
}

.rating__content-text {
  max-width: 435px;
  color: #969AA0;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 180%;
}

.rating__rating-score {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 120%;
}

.rating__rating-text {
  font-family: sans-serif;
  line-height: 158.333%;
}

.rating__comments {
  display: flex;
  gap: 20px;
}

.rating__comment-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rating__comment {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 381px;
  height: 292px;
  padding: 25px 30px;
  background: #1B3764;
  color: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
}

.rating__comment:last-child {
  align-self: center;
}

.rating__comment-writer {
  display: flex;
  gap: 20px;
}

.rating__writer-id {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rating__writer-name {
  font-size: 24px;
  margin-top: 15px;
}

.rating__comment-head {
  font-size: 22px;
}

.rating__comment-text {
  max-width: 290px;
  color: #B4C7E7;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 160%;
}
/*---------------------------------Subscribe-------------------------------------------------*/
.subscribe__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FFCA42;
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.18);
}

.subscribe__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin: 90px 0 50px;
}

.subscribe__heading-head.head {
  max-width: 410px;
}

.subscribe__heading-line {
  background-color: #1B3764;
  margin-bottom: 25px;
}

.subscribe__heading-text {
  max-width: 550px;
  text-align: center;
}

.subscribe__form {
  display: flex;
  gap: 16px;
  margin-bottom: 115px;
}

.subscribe__form-email input {
  width: 656px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #DCE1E9;
  padding: 20px 30px;
  color: #B4C7E7;
  font-family: sans-serif;
  line-height: 170%;
  letter-spacing: 0.18px;
}

.subscribe__form-btn {
  color: #FFF;
  width: 328px;
  height: 68px;
  text-align: center;
  font-family: sans-serif;
  line-height: 170%;
  letter-spacing: 0.18px;
  background-color: #1B3764;
}

/*---------------------------------Footer-------------------------------------------------*/
.footer-top__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  margin: 0 20px;
}

.footer-top__logo {
  margin-bottom: 20px;
}

.footer-top__socials {
  display: flex;
  gap: 10px;
}

.footer-top__link {
  display: flex;
  padding: auto;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border: 1px solid #FFCA42;
}

.footer-top__nav {
  display: flex;
  gap: 82px;
}

.footer-top__nav-head {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.384px;
  margin-bottom: 15px;
}

.footer-top__nav-item {
  color: #B4C7E7;
  font-family: sans-serif;
  line-height: 170%;
  letter-spacing: 0.18px;
  opacity: .8;
}

.footer-top__nav-item img {
  margin-top: -5px;
}

.footer-top__nav-item:hover {
  transform: scale(1.1);
  transition: all .7s;
}

.footer-top__info-items {
  display: flex;
  gap: 28px;
  position: relative;
}

.footer-top__info-item {
  margin-bottom: 22px;
}

.footer-top__info-item:first-child {
  margin-bottom: 58px;
}

.footer-top__info-item:last-child {
  margin-bottom: 0px;
}

.footer-top__info-value {
  max-width: 200px;
  color: #B4C7E7;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 170%;
  letter-spacing: 0.18px;
  position: relative;
  opacity: .8;
  margin-bottom: 25px;
}

.footer-top__info-value:first-child {
  margin-top: -2px;
}

.footer-top__info-value:last-child {
  margin: -10px 0 0px;
}

.footer-top__rights {
  color: #fff;
  text-align: center;
  margin-top: 90px;
  padding-bottom: 24px;
}

.footer-top__rights span {
  color: #B4C7E7;
  font-family: sans-serif;
  line-height: 170%;
  letter-spacing: 0.18px;
  position: relative;
  margin-right: 10px;
  opacity: .8;
}
/*===============================================================================================*/

section.catalog {
  display: flex;
  gap: 30px;
}
.catalog__genres {
  width: 25%;
  height: 258px;
  padding-left: 10px;
  background-color: #1B3764;
  color: #fff;
  margin: 10px;
  border: 5px #1B3764;
  border-radius: 15px;
}
.genres__list-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.genres__list-link:hover,
.genres__list-link:focus {
  text-decoration: none;
  background-color: #eee;
  color: #2a6496;
}
.catalog__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 70%;
  margin: 10px 0 30px;
}
.products-books__book-card {
  display: flex;
  gap: 30px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.20);
  max-width: 304px;
  max-height: 223px;
}
.products-books__book-img {
  max-width: 142px;
  max-height: 191px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.20);
  margin-left: 5px;
}
.products-books__book-img img {
  width: 100%;
  height: 100%;
}
.products-books__book-info {
  margin-top: 19px;
}
.products-books__info-name {
  max-width: 158px;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.32px;
}
.products-books__book-card:hover {
  transform: scale(1.1);
  transition: all .7s;
}
.products-books__info-price {
  max-width: 64px;
  color: #FFCA42;
  font-size: 11px;
  line-height: 157.143%;
  margin-bottom: 9px;
}
.products-books__info-text {
  max-width: 144px;
  color: #969AA0;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 150%;
  margin: 0 5px 7px 0;
}
.products-books__info-type {
  display: flex;
  max-width: 88px;
  font-size: 12px;
  line-height: 120%;
  margin: 0 0 27px 15px;
}
li.products-books__info-type::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FFCA42;
  position: relative;
  top: 3px;
  left: -7px;
}
.products-books__info-btn {
  width: 111px;
  height: 33px;
  font-size: 16px;
  background-color: #fff;
}
.products-books__info-btn {
  margin-top: -10px;
}
/*===============================================================================================*/
main.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.product__page {
  display: flex;
  justify-content: space-between;
}
.left__column {
  width: 45%;
  position: relative;
}
.right__column {
  width: 45%;
  margin-right: 20px;
}
.left__column img {
  width: 70%;
  position: absolute;
  left: 100px;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.left__column img.active {
  opacity: 1;
}
.product__description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product__description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
}
.product__description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product__description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
.product__og-price {
  display: flex;
  gap: 30px;
}
.product__description .author-books__info-price {
  margin-top: 10px;
  white-space: nowrap;
  transform: scale(2);
  margin-left: 65px;
}
.product__og-price .header-body__btn-demo::before {
  content: "";
  display: flex;
  position: relative;
  height: 1px;
  width: 152px;
  background-color: #000;
  top: 30px;
}
.cart__btn {
  display: flex;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all .5s;
  height: 40px;
  width: 152px;
  margin-top: 15px;
}
.cart__btn:hover {
  background-color: #64af3d;
}
.recommendations__products {
  display: flex;
  gap: 20px;
  background-color: #1B3764;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
/*===============================================================================================*/
.clearfix {
  display: flex;
  justify-content: space-between;
}
.cart__page {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #eee;
}
.cart__page h1 {
  font-weight: 300;
}
.cart__page a {
  color: #1B3764;
  text-decoration: none;
  transition: color .2s linear;
}
.cart__page a:hover {
  color: #000;
}
.product__removed:hover {
  margin-left: 980px;
  opacity: 0;
}
.product {
  border: 1px solid #eee;
  margin: 20px 0;
  width: 100%;
  height: 195px;
  position: relative;
  transition: margin .2s linear, opacity .2s linear;
}
.product img {
  height: 100%;
}
.product__image-box, .product__content-top, .product__content-bottom{
  background-color: #fff;
  border: 1px solid #ccc;
  border-style: none none solid none;
  float: left;
}
.product__image-box {
  background: #000;
  margin: 0 1% 20px 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 22%;
  margin-left: 10px;
  height: 195px;
}
.product__image-box:hover img {
  opacity: .7;
}
.product__image-box:hover h3 {
  bottom: 73px;
}
.product__image-box h3 {
  background: #1B3764;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 49px;
  margin: 0;
  padding: 0 30px;
  position: absolute;
  bottom: -50px;
  right: 0;
  left: 0;
  transition: bottom .2s linear;
}
.product__remove {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: -1px 2px 11px 0px rgba(0, 0, 0, 0.20);
}
.product__content-top {
  box-sizing: border-box;
  height: 140px;
  padding: 0 20px;
  width: 75%;
  line-height: 120%;
}
.product h1 {
  color: #1B3764;
  font-size: 25px;
  font-weight: 300;
  margin: 17px 0 20px 0;
}
.product__content-bottom {
  height: 50px;
  margin: 6px 0 0 0;
  padding: 0;
}
.product__price {
  background: #fcfcfc;
  float: right;
  font-size: 15px;
  font-weight: 300;
  line-height: 49px;
  margin: 0;
  padding: 0 30px;
}
.product__full-price {
  background: #1B3764;
  color: #fff;
  float: right;
  font-size: 22px;
  font-weight: 300;
  line-height: 49px;
  margin: 0;
  padding: 0 30px;
}
.product__qt, .product__qt-plus, .product__qt-minus {
  display: block;
  float: left;
}
.product__qt {
  font-size: 19px;
  line-height: 50px;
  width: 70px;
  text-align: center;
}
.product__qt-plus, .product__qt-minus {
  background: #fcfcfc;
  border: none;
  font-size: 30px;
  font-weight: 300;
  height: 100%;
  padding: 0 20px;
}
.product__qt-plus:hover, .product__qt-minus:hover {
  background: #1B3764;
  color: #fff;
  cursor: pointer;
}
.product__qt-plus {
  line-height: 50px;
}
.product__qt-minus {
  line-height: 47px;
}
.left {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 120%;
  gap: 10px;
  float: left;
}
.right {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 120%;
  gap: 10px;
}
.button {
  background: #1B3764;
  border: 1px solid #999;
  border-style: none none solid none;
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 16px 0;
  width: 290px;
  text-align: center;
  transition: all .2s linear;
}
.button:hover {
  color: #fff;
  background: #425a91;
}
.minused {
  margin: 0 50px 0 0;
}
.added {
  margin: 0 -50px 0 0;
}

/*--------------------------------Media-----------------------------------*/
/*--------------------------------1300-----------------------------------*/
@media(max-width: 1300px) {
  .learn__inner {
    gap: 30px;
  }

  .learn__content {
    transform: scale(.75);
  }

  .learn__image-deco {
    margin-right: -150px;
  }

  .learn__value {
    margin-left: -150px;
  }

  /*-----------------------------*/
  .rating__comments {
    transform: scale(.9);
    margin-right: -40px;
  }

  /*-----------------------------*/
  .subscribe__inner {
    margin: 0 50px;
  }
}

/*--------------------------------1250-----------------------------------*/
@media(max-width: 1250px) {
  .header-body__img {
    max-width: 500px;
    max-height: 700px;
  }

  .header-body__content {
    transform: scale(.9);
    margin-top: 70px;
  }

  /*-----------------------------*/
  .subscribe__form {
    transform: scale(.9);
  }
}

/*--------------------------------1150-----------------------------------*/
@media(max-width: 1150px) {
  .header-body__img {
    max-width: 440px;
    max-height: 600px;
    margin-right: 70px;
  }

  .header-body__content {
    transform: scale(.9);
    margin-top: 70px;
  }

  .header-body__info-item {
    margin-right: 40px;
  }

  /*-----------------------------*/
  .author-books__books {
    flex-direction: column;
    gap: 150px;
  }

  .author-books__head {
    margin-bottom: 70px;
  }

  .author-books__book-card {
    transform: scale(1.2);
  }

  /*-----------------------------*/
  .about__inner {
    gap: 70px;
  }

  .about__content-contact {
    margin-right: 10px;
  }

  /*-----------------------------*/
  .free-trial__head {
    margin-bottom: 10px;
  }

  .free-trial__content {
    transform: scale(.9);
  }

  /*-----------------------------*/
  section.rating {
    padding: 10px 0;
  }

  .rating__content {
    transform: scale(.9);
    margin-right: -40px;
  }

  .rating__comments {
    transform: scale(.8);
    margin-right: -70px;
  }

  /*-----------------------------*/
  .subscribe__heading {
    transform: scale(.9);
  }

  .subscribe__form {
    margin: 0 -20px 115px;
  }

  /*-----------------------------*/
  .footer-top__nav {
    gap: 30px;
  }

  /*-----------------------------*/
  .catalog__products{
    grid-template-columns: repeat(2, 1fr);
    margin-right: 20px;
  }
}

/*--------------------------------1100-----------------------------------*/
@media(max-width: 1100px) {
  .cart {
    display: none;
  }

  .header-top__nav-item.btn {
    margin-left: -50px;
  }

  /*-----------------------------*/
  .about__inner {
    transform: scale(.9);
  }

  .about__content-contact {
    gap: 30px;
    max-width: 484px;
    max-height: 484px;
  }

  .about__contact-info {
    font-size: 16px;
  }

  .about__info-name {
    margin-top: 0;
  }

  .about__contact-img {
    margin-top: 10px;
    max-width: 90px;
    max-height: 90px;
  }

  .about__content-values {
    transform: scale(.9);
  }
}

/*--------------------------------1050-----------------------------------*/
@media(max-width: 1050px) {
  .header-body__img {
    max-width: 400px;
    max-height: 600px;
    margin-right: 50px;
  }

  .header-body__content {
    transform: scale(.9);
    margin-top: 70px;
  }

  .header-body__big-heading {
    font-size: 58px;
  }

  .header-body__content-text {
    font-size: 16px;
  }

  .header-body__info-item {
    margin-right: 20px;
  }

  /*-----------------------------*/
  section.free-trial {
    padding: 70px 0;
  }

  .free-trial__head {
    font-size: 54px;
  }

  .free-trial__content {
    transform: scale(.85);
  }

  /*-----------------------------*/
  .rating__content {
    transform: scale(.8);
    margin-right: -100px;
  }

  .rating__comments {
    transform: scale(.7);
    margin-right: -100px;
  }
  /*-----------------------------*/
  .recommendations__products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .products__card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*--------------------------------1000-----------------------------------*/
@media(max-width: 1000px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }

  .overlay--opened {
    visibility: visible;
    opacity: 1;
  }

  .burger {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
  }

  .burger span {
    width: 25px;
    height: 5px;
    border-radius: 7px;
    background-color: #424551;
  }

  .burger::after,
  .burger::before {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    border-radius: 7px;
    background-color: #424551;
  }

  .burger--follow {
    box-shadow: 0 1px 8px #a1a1a1;
    top: 15px;
    right: 15px;
    height: 50px;
    width: 50px;
  }

  .header {
    padding-top: 92px;
  }

  .header-top {
    display: none;
  }

  .header-top--opened {
    display: flex;
    position: fixed;
    color: #FFF;
    font-size: 24px;
    top: 5%;
    left: 37%;
    z-index: 100;
  }

  .header-top__inner {
    flex-direction: column;
    gap: 100px;
    margin-top: -50px;
  }

  .header-top__links {
    margin-top: 100px;
    flex-direction: column;
  }

  .header-top__nav {
    flex-direction: column;
  }

  .header-top__nav-item svg path {
    fill: #FFF;
  }

  .header-top__logo {
    transform: scale(2);
    margin-bottom: 70px;
  }

  .cart {
    display: flex;
  }

  .header-top__nav-item.btn {
    margin-left: 0px;
  }

  /*-----------------------------*/
  .header-body__img {
    margin-right: 10px;
  }

  .header-body__inner {}

  .header-body__big-heading {
    font-size: 54px;
  }

  .header-body__content-text {
    font-size: 15px;
    max-width: 430px;
  }

  .header-body__info-item {
    margin-right: 10px;
    transform: scale(.9);
  }

  /*-----------------------------*/
  .about__inner {
    transform: scale(.8);
  }

  .about__content-contact {
    flex-direction: column-reverse;
    gap: 10px;
    margin-right: -30px;
  }

  .about__content-values {
    transform: scale(.9);
  }

  /*-----------------------------*/
  section.learn {
    padding: 100px 0 0;
  }

  .learn__inner {
    gap: 0px;
  }

  .learn__head {
    font-size: 58px;
  }

  .learn__content {
    transform: scale(.65);
    margin-top: -50px;
  }

  .learn__image-deco {
    margin-right: -200px;
  }

  .learn__value {
    margin-left: -200px;
  }

  /*-----------------------------*/
  section.free-trial {
    padding: 70px 0 0;
  }

  .free-trial__head {
    font-size: 48px;
    margin-bottom: 0;
  }

  .free-trial__content {
    transform: scale(.75);
  }

  /*-----------------------------*/
  .rating__inner {
    display: flex;
    flex-direction: column;
    gap: 150px;
    justify-content: center;
    align-items: center;
    margin: 30px 0 100px;
  }

  .rating__content {
    transform: scale(1.3);
    margin-left: -280px;
  }

  .rating__comments {
    transform: scale(1);
    margin-left: -70px;
  }

  /*-----------------------------*/
  .subscribe__heading {
    margin-top: 70px;
    margin-bottom: 50px;
    transform: scale(.8);
  }

  .subscribe__form {
    transform: scale(.8);
    margin-bottom: 70px;
  }

  /*-----------------------------*/
  .footer-top__inner {
    flex-direction: column;
    gap: 75px;
  }

  .footer-top__nav {
    gap: 75px;
  }
  /*-----------------------------*/

  .left__column img {
    width: 90%;
    left: 30px;
  }
}

/*--------------------------------900-----------------------------------*/
@media(max-width: 900px) {
  .header-body__img {
    display: none;
  }

  .header-body__inner {
    margin: 150px 0;
    transform: scale(1);
    padding: 10px;
  }

  .header-body__big-heading {
    font-size: 64px;
  }

  .header-body__content {
    margin: 0 0px 0 50px;
    transform: scale(1);
  }

  .header-body__content-text {
    font-size: 18px;
  }

  .header-body__info-item {
    margin: -30px 10px 0 0;
    transform: scale(1);
  }

  /*-----------------------------*/
  .about__inner {
    transform: scale(.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about__image-deco {
    width: 600px;
    height: 800px;
  }

  .about__content {
    margin-right: -100px;
  }

  .about__content-text {
    margin: 20px 60px 30px 0;
  }

  .about__content-contact {
    flex-direction: row;
    gap: 30px;
    margin-right: -30px;
  }

  .about__contact-info {
    font-size: 18px;
  }

  .about__content-values {
    transform: scale(.9);
  }

  /*-----------------------------*/
  .trusted__inner {
    gap: 100px;
  }

  .trusted__corpas {
    flex-direction: column;
    gap: 200px;
  }

  .trusted__corpa {
    transform: scale(1.5);
  }

  /*-----------------------------*/
  section.order {
    padding: 70px 50px;
  }

  .order__inner {
    padding: 0;
  }

  /*-----------------------------*/
  section.learn {
    padding: 70px 0;
  }

  .learn__inner {
    gap: 60px;
  }

  .learn__content {
    transform: scale(1);
    margin-top: 0px;
    align-items: center;
    justify-content: center;
  }

  .learn__image-deco {
    display: none;
  }

  .learn__value {
    margin-left: 0px;
  }

  /*-----------------------------*/
  section.free-trial {
    padding: 70px 0 0;
  }

  .free-trial__head-text {
    font-size: 34px;
  }

  .free-trial__content {
    margin-top: -60px;
    transform: scale(.65);
  }

  /*-----------------------------*/
  .rating__inner {
    gap: 100px;
  }

  .rating__content {
    transform: scale(1.1);
    margin-left: -280px;
  }

  .rating__comments {
    transform: scale(.9);
    margin-left: -70px;
  }

  /*-----------------------------*/
  .subscribe__heading {
    margin-top: 50px;
    margin-bottom: 0px;
    transform: scale(.65);
  }

  .subscribe__form {
    transform: scale(.65);
    margin-bottom: 50px;
  }

  .subscribe__heading-text {
    font-size: 28px;
  }
  /*-----------------------------*/
  section.catalog{
    flex-direction: column;
    margin-bottom: 50px;
  }
  .products-books__book-card{
    gap: 10px;
  }
  .catalog__products{
    width: 97%;
    margin: 0 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  .products-books__book-img{
    margin-top: 30px;
  }
  .catalog__genres{
    width: 97%;
  }
}

/*--------------------------------800-----------------------------------*/
@media(max-width: 800px) {
  .header-top__inner {
    margin-left: -30px;
  }

  .header-body__inner {
    margin-top: 30px;
  }

  /*-----------------------------*/
  .author-books__book-card {
    transform: scale(1);
  }

  /*-----------------------------*/
  .order__image-box {
    display: none;
  }

  /*-----------------------------*/
  section.free-trial {
    padding-bottom: 0px;
  }

  .free-trial__inner {
    margin-bottom: -100px;
  }

  .free-trial__head-text {
    font-size: 34px;
  }

  .free-trial__content-chapters {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: -60px 0 100px;
    transform: scale(1.2);
  }

  /*-----------------------------*/
  .rating__inner {
    gap: 0px;
  }

  .rating__content {
    transform: scale(1);
    margin-left: -200px;
  }

  .rating__comments {
    transform: scale(.7);
    margin-left: -90px;
  }

  /*-----------------------------*/
  .footer-top__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .footer-top__nav {
    justify-content: center;
    gap: 30px;
  }
  .product__page {
    flex-direction: column;
    gap: 20px;
  }
  .left__column{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .left__column img{
    position: relative;
    width: 279px;
    height: 371px;
  }
  .right__column{
    width: 90%;
    margin-left: 30px;
  }
}

/*--------------------------------700-----------------------------------*/
@media(max-width: 700px) {
  section.trusted {
    padding: 300px 0;
  }
  /*-----------------------------*/
  .rating__inner{
    margin-bottom: 0;
  }
  /*-----------------------------*/
  .learn__inner {
    gap: 160px;
  }

  .learn__head {
    font-size: 54px;
  }

  .learn__content {
    transform: scale(1.2);
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
  }

  .learn__image-deco {
    display: none;
  }

  .learn__value {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /*-----------------------------*/
  .subscribe__heading,
  .subscribe__form {
    transform: scale(.55);
  }

  /*-----------------------------*/
  .footer-top__inner {
    margin: 0;
  }

  .footer-top__nav {
    gap: 30px;
    transform: scale(.8);
    margin-right: -60px;
  }
  /*-----------------------------*/
  .catalog__products{
    grid-template-columns: repeat(2, 1fr);
  }
  .products-books__book-img{
    margin-top: 10px;
  }
  /*-----------------------------*/
  .product__description h1{
    font-size: 40px;
  }
  .product__description .author-books__info-price{
    transform: scale(1.5);
    margin-left: 30px;
  }
}

/*--------------------------------600-----------------------------------*/
@media(max-width: 600px) {
  .header-top__inner {
    transform: scale(.7);
    margin-top: -100px;
    margin-left: -50px;
    
  }
  .burger {
    transform: scale(.8);
  }

  /*-----------------------------*/
  .header-body__inner {
    transform: scale(.8);
  }

  .header-body__content {
    margin-left: 0;
  }

  .header-body__big-heading {
    font-size: 54px;
  }

  /*-----------------------------*/
  .author-books__book-card {
    flex-direction: column;
    transform: scale(1);
    gap: 10px;
  }

  .author-books__book-img {
    transform: scale(1.08);
  }

  .author-books__books {
    gap: 100px;
  }

  .author-books__head {
    margin-bottom: 30px;
  }

  /*-----------------------------*/
  .rating__content {
    transform: scale(.8);
    margin-left: -210px;
    margin-top: 0;
  }

  .rating__comments {
    transform: scale(.6);
    margin: -100px 0 0;
  }

  /*-----------------------------*/
  .subscribe__heading {
    margin-top: 20px;
  }

  .subscribe__form {
    margin-top: -20px;
    transform: scale(.47);
  }
  /*-----------------------------*/
  .footer-top__inner {
    gap: 40px;
  }

  .footer-top__nav {
    gap: 30px;
    transform: scale(.7);
    margin-right: 0px;
    white-space: nowrap;
  }
  /*-----------------------------*/
  .cart__page{
    gap: 20px;
    padding-bottom: 10px;
  }
  .product{
    height: 370px;
    margin: 0;
  }
  .product__image-box{
    width: 40%;
    height: 300px;
    margin-bottom: 0;
  }
  .product img {
    width: 100%;
    height: auto;
  }
  .product__price, .product__full-price, .product__qt-plus, .product__qt-minus{
    padding: 0 15px;
  }
  .product__content-top{
    width: 50%;
    height: 300px;
    line-height: 180%;
    padding: 10px;
  }
  .product__content-top h1{
    max-width: 90%;
  }
  .product__content-bottom{
    width: 91%;
    margin: 5px 20px 0 10px;
  }
  .product__remove{
    margin-right: 10px;
  }
  .product__remove h3{
    height: 50px;
  }
  .clearfix{
    flex-direction: column;
    gap: 40px;
  }
  /*-----------------------------*/
  .recommendations__products{
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*--------------------------------500-----------------------------------*/
@media(max-width: 500px) {
  .header-top__inner {
    margin-left: -60px;
  }

  .burger {
    transform: scale(.7);
  }

  .header-body__content-buttons {
    gap: 20px;
  }

  .header-body__inner {
    margin-top: 0;
  }

  /*-----------------------------*/
  .about__inner {
    gap: 0;
  }

  .about__content {
    margin-right: -70px;
  }

  .about__content-text {
    max-width: 400px;
  }

  .about__content-contact {
    margin-right: 40px;
  }

  .about__image-deco {
    transform: scale(.8);
    margin-left: 0;
  }

  /*-----------------------------*/
  .trusted__inner {
    gap: 50px;
  }

  .trusted__corpas {
    gap: 150px;
  }

  .trusted__corpa {
    transform: scale(1.2);
  }

  .trusted__head-text {
    text-align: center;
    margin: 0 10px;
  }

  /*-----------------------------*/
  section.learn {
    padding-bottom: 70px;
  }

  .learn__inner {
    gap: 60px;
  }

  .learn__head {
    font-size: 44px;
    text-align: center;
  }

  .learn__content {
    transform: scale(1);
    align-items: center;
    justify-content: center;
  }

  .learn__image-deco {
    display: none;
  }

  .learn__value {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /*-----------------------------*/
  section.free-trial {
    padding-bottom: 0px;
  }

  .free-trial__inner {
    margin-bottom: -100px;
  }

  .free-trial__head-text {
    font-size: 28px;
  }

  .free-trial__content {
    transform: scale(.65);
    margin-top: -150px;
  }

  .free-trial__content-chapters {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    transform: scale(1);
  }

  /*-----------------------------*/
  .rating__content {
    transform: scale(.67);
    margin-left: -170px;
    margin-top: 0;
  }

  .rating__comments {
    transform: scale(.47);
    margin: -150px 0 0 0px;
  }

  /*-----------------------------*/
  .subscribe__form-email input {
    width: 500px;
    margin-right: 7px;
  }

  .subscribe__form-btn {
    width: 250px;
  }

  .subscribe__heading-text {
    width: 800px;
  }

  /*-----------------------------*/
  .footer-top__nav {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 0px;
    transform: scale(.9);
    margin-left: 0px;
  }

  .footer-top__nav ul {
    max-width: 90px;
    margin-bottom: 50px;
  }
  /*-----------------------------*/
  .catalog__products{
    grid-template-columns: 1fr;
  }
  .product__image-box{
    margin-bottom: 0;
  }
  .products-books__book-card{
    gap: 30px;
    max-width: 97%;
  }
  .products-books__info-text{
    max-width: 90%;
  }
  .products-books__info-btn{
    float: inline-end;
    margin-right: 20px;
  }
  .products-books__info-type{
    margin: 15px 15px;
  }
  .product__content-bottom{
    margin-right: 15px;
  }
  /*-----------------------------*/
  
}

/*--------------------------------400-----------------------------------*/
@media(max-width: 400px) {
  .header-top__inner {
    transform: scale(.7);
    margin-top: -100px;
  }

  .header-body__content {
    margin-left: -20px;
  }

  /*-----------------------------*/
  .author-books__book-card {
    transform: scale(0.9);
    gap: 10px;
  }

  .author-books__book-img {
    transform: scale(1.08);
  }

  .author-books__books {
    gap: 100px;
  }

  /*-----------------------------*/
  section.about {
    padding: 0;
  }

  .about__content-values {
    margin-left: -25px;
  }

  .about__image-deco {
    transform: scale(.7);
  }

  /*-----------------------------*/
  .free-trial__inner {
    margin-bottom: -200px;
  }

  .free-trial__head-text {
    font-size: 24px;
  }

  .free-trial__content {
    transform: scale(.55);
    margin-top: -230px;
  }

  .free-trial__content-chapters {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    transform: scale(1);
  }

  /*-----------------------------*/
  .rating__content {
    transform: scale(.6);
    margin-left: -170px;
    margin-top: 0;
  }
  .rating__comments {
    transform: scale(.4);
    margin: -200px 0 0 -20px;
  }
  /*-----------------------------*/
  .subscribe__form-email input {
    width: 450px;
    margin-right: 7px;
  }
  .subscribe__form-btn {
    width: 200px;
  }
  /*-----------------------------*/
  .products-books__book-img{
    margin-top: 20px;
  }
  .product__price, .product__full-price, .product__qt-plus, .product__qt-minus{
    padding: 0 10px;
  }
  .product__content-top {
    font-size: 14px;
  }
  .product__page {
    gap: 20px;
  }
  .right__column{
    margin-left: 10px;
  }
}
/*===============================================================================================*/
